html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* 页面全屏背景 */
.home {
    /*  display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100vw;*/
    /*  background: linear-gradient(135deg, #a1c4fd, #c2e9fb);*/
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("@assets/MHY_XTLL.png") ;
    /* 关键：固定背景，不随滚动重复或变形 */
    background-attachment: fixed; /* ← 核心属性 */
    background-size: cover; /* 覆盖整个容器 */
    background-position: center;
    /*  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
}

/* Logo 圆角 */
.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 25px;
    border: 3px solid #6a89cc;
}
/* 固定按钮样式 */
.fixed-footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.fixed-footer .btn {
  padding: 10px 15px;
  background: rgba(52, 152, 219, 0.8);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
/*.btn.secondary {
    padding: 10px 24px;
    background: #6b7280;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}*/
.fixed-footer .btn:hover {
  background: rgba(41, 128, 185, 1);
  transform: scale(1.05);
}
